@{
	ViewBag.Title = "About";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>@ViewBag.Title</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
	<!-- Font Awesome icons (free version)-->
	<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
	<!-- Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
	<!-- Third party plugin CSS-->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<link href="~/css/Site.css" rel="stylesheet" />
</head>

<body id="page-top" style="background-image: url(/assets/img/AboutMain.jpg); background-size: cover; background-attachment:fixed; background-position: center; background-repeat: no-repeat;">
	<div style="background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%)">

		<!-- Masthead-->
		<header class="aboutmasthead">
			<div class="container h-100">
				<div class="row h-100 align-items-center justify-content-center text-center">
					<div class="col-lg-10 align-self-end">
						<h1 class="text-uppercase text-white font-weight-bold">About Me</h1>
						<hr class="divider my-4" />
					</div>
					<div class="col-lg-8 align-self-baseline">
						<p class="text-white-75 font-weight-light mb-5">
							I'm a self-motivated, lifelong student with a passion for computer science. Currently based out of Cincinnati Ohio and
							am currently enrolled in the software development program at Cincinnati State,
							I often use programming in my personal hobbies and most of them involve some form of creation.
							I'm part artist and part logical thinker. I'm eagerly looking for either a Co-Op role, contract, or something more permanent.
						</p>
					</div>
				</div>
			</div>
		</header>

		<div class="container h-100">
			<div class="row h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-8 align-self-baseline">
					<h2 class="text-white mt-0">How Am I Different?</h2>
					<hr class="divider my-4" />
					<p class="text-white-75 font-weight-light mb-5">
						Determined. Optimistic. Energetic. All words that I would describe myself with.
						We all have our fair shares of short comings and I'm no different. But what makes me different? I'm constantly and forever
						on a mission to improve myself and to grow. I'm always learning something and always trying my hardest. While some people may
						slow down on learning about the subject they're researching, I just don't. I can't. I always find myself with the need to know
						more.
					</p>

					<h2 class="text-white mt-0">My Interests</h2>
					<hr class="divider my-4" />
					<p class="text-white-75 font-weight-light mb-5">
						I enjoy making pixel art, writing code, and taking short walks on the beach. Making games has become a big passion of mine
						because of how it blends all the hobbies I've ever had into one project. I occasionally participate in game jam events
						and have built up my skills from the limitations they use. I often build things with arduino as well!
						I have been mostly a guitar player my whole life but I can play a wide array of stringed instruments. At one point
						I was even enrolled in a dual major for conventional and classical guitar performance but eventually backed out in order to
						pursue greater things. Some of my favorites on the list of projects I'm currently undertaking are building an arduino based puzzle
						box with both electronic and traditional puzzle elements, game development projects and the art behind them, a smart mirror,
						and some API bots to manage my crypto trading for me (check back and eventually you may see some tutorials here!).
					</p>-->

				</div>
			</div>
		</div>

		<br /><br /><br /><br /><br />



		<div class="container">

			<div class="row h-100 align-items-center justify-content-center text-center">
				<div class="col-lg-8 align-self-baseline">
					<h2 class="text-white mt-0">My Life</h2>
					<hr class="divider my-4" />
					<p class="text-white-75 font-weight-light mb-5">
						A snippet of my life in pictures. Special thanks to my parents, sisters, girlfriend, and dog.
						Without them, I would have never made it this far.
					</p>
				</div>
			</div>

			<div class="row text-center text-lg-left">

				<div class="col-lg-3 col-md-4 col-6">
					<a href="~/assets/img/LifePics/AandTPumpkins.jpg" class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Pumpkin Patch 2020:</div>
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/img/LifePics/AandTPumpkins.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a href="~/assets/img/LifePics/AandTSunFlowers.jpg" class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Pumpkin Patch 2020:</div>
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/img/LifePics/AandTSunFlowers.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a href="~/assets/img/LifePics/ProfessionalPicture.jpg" class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Me as a professional:</div>
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/img/LifePics/ProfessionalPicture.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a href="~/assets/img/LifePics/RoseXmas.jpg" class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Xmas Sweaters 2020:</div>
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/img/LifePics/RoseXmas.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a href="~/assets/img/LifePics/Rosie.jpg" class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Rosie The Puppy 2020:</div>
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/img/LifePics/Rosie.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a href="#" class="d-block mb-4 h-100">
						<img class="img-fluid img-thumbnail" src="~/assets/img/LifePics/" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a href="#" class="d-block mb-4 h-100">
						<img class="img-fluid img-thumbnail" src="~/assets/img/LifePics/" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a href="#" class="d-block mb-4 h-100">
						<img class="img-fluid img-thumbnail" src="~/assets/img/LifePics/" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a href="#" class="d-block mb-4 h-100">
						<img class="img-fluid img-thumbnail" src="~/assets/img/LifePics/" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a href="#" class="d-block mb-4 h-100">
						<img class="img-fluid img-thumbnail" src="~/assets/img/LifePics/" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a href="#" class="d-block mb-4 h-100">
						<img class="img-fluid img-thumbnail" src="~/assets/img/LifePics/" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a href="#" class="d-block mb-4 h-100">
						<img class="img-fluid img-thumbnail" src="~/assets/img/LifePics/" alt="">
					</a>
				</div>
			</div>

		</div>
	</div>

	<!-- Bootstrap core JS-->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Third party plugin JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
	<!-- Core theme JS-->
	<script src="~/js/scripts.js"></script>

</body>

</html>
