@{
	ViewBag.Title = "Projects";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>@ViewBag.Title</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
	<!-- Font Awesome icons (free version)-->
	<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
	<!-- Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
	<!-- Third party plugin CSS-->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<link href="~/css/Site.css" rel="stylesheet" />
</head>



<body id="page-top" style="background-image: url(/assets/img/pexels-negative-space-169573.jpg); background-size: cover; background-attachment:fixed; background-position: center; background-repeat: no-repeat;">
	<div style="background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%)">

		<!-- Masthead-->
		<header class="aboutmasthead">
			<div class="container h-100">
				<div class="row h-100 align-items-center justify-content-center text-center">
					<div class="col-lg-10 align-self-end">
						<h1 class="text-uppercase text-white font-weight-bold">Projects</h1>
						<hr class="divider my-4" />
					</div>
					<div class="col-lg-8 align-self-baseline">
						<p class="text-white-75 font-weight-light mb-5">Here's a list of some of the various projects I am currently working on or have completed.</p>
						<a class="btn btn-primary btn-xl js-scroll-trigger" href="#games">Games</a>
						<a class="btn btn-primary btn-xl js-scroll-trigger" href="#python">Python</a>
						<a class="btn btn-primary btn-xl js-scroll-trigger" href="#c">C</a>
						<a class="btn btn-primary btn-xl js-scroll-trigger" href="#web">  Web  </a>
						<a class="btn btn-primary btn-xl js-scroll-trigger" href="#mobile">Mobile</a>
					</div>
					<div class="col-lg-8 align-self-baseline">
						<a class="btn btn-primary btn-xl js-scroll-trigger" href="#misc">Miscellaneous</a>
					</div>

				</div>
			</div>
		</header>
		<!-- About-->






		<div id="games">
			<br /><br /><br /><br /><br />

			<div class="container h-100">
				<div class="row h-100 align-items-center justify-content-center text-center">
					<div class="col-lg-8 align-self-baseline">
						<h1 class="text-uppercase text-white font-weight-bold">Games</h1>
						<hr class="divider my-4" />
						<br /><br /><br />
					</div>
				</div>
			</div>

			<div class="container h-100">
				<div class="row h-100 align-items-center justify-content-center text-center">
					<div class="col-lg-8 align-self-baseline">
						<h2 class="text-white mt-0">Unity</h2>
						<p class="text-white-75 font-weight-light mb-5">Projects made in the Unity Engine using C#.</p>
					</div>
				</div>
			</div>

			<br /><br /><br /><br /><br />

			<div id="unity">

				<div class="row text-center text-lg-left">
					<div class="col-lg-3 col-md-4 col-6">
						<a href="~/assets/img/portfolio/SunnyDaysHome.jpg" class="d-block mb-4 h-100">
							<div class="portfolio-box-caption">
								<div class="project-category text-white">Sunny Days:</div>
								<div class="project-name text-white-50">Using open source assets to create a platformer that contrasts cheery and dark themes.</div>
								<br />
							</div>
							<img class="img-fluid img-thumbnail" src="~/assets/img/portfolio/SunnyDaysHome.jpg" alt="">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-6">
						<a class="d-block mb-4 h-100">
							<div class="portfolio-box-caption">
								<div class="project-category text-white">Gothic Vania:</div>
								<div class="project-name text-white-50">Exploring the metroidvania genre using the GothicVania asset pack.</div>
								<br /> <br />
							</div>
							<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-6">
						<a class="d-block mb-4 h-100">
							<div class="portfolio-box-caption">
								<div class="project-category text-white">Mega Ultra Space Shooter Extreme:</div>
								<div class="project-name text-white-50">A Wild, Fast, and Bizarre Shootemup.</div>
								<br /> <br /> <br />
							</div>
							<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
						</a>
					</div>


					<div class="col-lg-3 col-md-4 col-6">
						<a class="d-block mb-4 h-100">
							<div class="portfolio-box-caption">
								<div class="project-category text-white">Retro Game Jam March 2021:</div>
								<div class="project-name text-white-50">In progress Itch.io Game Jam.</div>
								<br /> <br /> <br />
							</div>
							<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
						</a>
					</div>

				</div>

				<br /><br />
				<div class="row text-center text-lg-left">
					<div class="col-lg-3 col-md-4 col-6">
						<a class="d-block mb-4 h-100">
							<div class="portfolio-box-caption">
								<div class="project-category text-white">UnNamed Top Down:</div>
								<div class="project-name text-white-50">In progress Top Down Rogue like.</div>
								<br /><br />
							</div>
							<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
						</a>
					</div>


					<div class="col-lg-3 col-md-4 col-6">
						<a class="d-block mb-4 h-100">
							<div class="portfolio-box-caption">
								<div class="project-category text-white">Yet to be announced:</div>
								<div class="project-name text-white-50">More info coming after some site edits.</div>
								<br />
							</div>
							<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-6">
						<a class="d-block mb-4 h-100">
							<div class="portfolio-box-caption">
								<div class="project-category text-white">Yet to be announced:</div>
								<div class="project-name text-white-50">More info coming after some site edits.</div>
								<br />
							</div>
							<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-6">
						<a class="d-block mb-4 h-100">
							<div class="portfolio-box-caption">
								<div class="project-category text-white">Yet to be announced:</div>
								<div class="project-name text-white-50">More info coming after some site edits.</div>
								<br />
							</div>
							<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
						</a>
					</div>



				</div>
			</div>
			<br /><br /><br /><br /><br />
			<div id="love">
				<br /><br /><br />
				<div class="container h-100">
					<div class="row h-100 align-items-center justify-content-center text-center">
						<div class="col-lg-8 align-self-baseline">
							<h2 class="text-white mt-0">Love2D</h2>
							<p class="text-white-75 font-weight-light mb-5">Projects made in the Love2D Engine using Lua.</p>
						</div>
					</div>
				</div>


				<br /><br /><br /><br /><br />
				<div class="row text-center text-lg-left">
					<div class="col-lg-3 col-md-4 col-6">
						<a class="d-block mb-4 h-100">
							<div class="portfolio-box-caption">
								<div class="project-category text-white">UnNamed Top Down:</div>
								<div class="project-name text-white-50">In progress Top Down Rogue like.</div>
								<br /><br />
							</div>
							<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
						</a>
					</div>


					<div class="col-lg-3 col-md-4 col-6">
						<a class="d-block mb-4 h-100">
							<div class="portfolio-box-caption">
								<div class="project-category text-white">Yet to be announced:</div>
								<div class="project-name text-white-50">More info coming after some site edits.</div>
								<br />
							</div>
							<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-6">
						<a class="d-block mb-4 h-100">
							<div class="portfolio-box-caption">
								<div class="project-category text-white">Yet to be announced:</div>
								<div class="project-name text-white-50">More info coming after some site edits.</div>
								<br />
							</div>
							<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-6">
						<a class="d-block mb-4 h-100">
							<div class="portfolio-box-caption">
								<div class="project-category text-white">Yet to be announced:</div>
								<div class="project-name text-white-50">More info coming after some site edits.</div>
								<br />
							</div>
							<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
						</a>
					</div>




				</div>



			</div>






			<br />
			<div class="container text-center">
				<a class="btn btn-primary btn-xl" href="#page-top">Return To The Top</a>
			</div>

			<br /><br /><br /><br /><br />


		</div>


		<div id="python">
			<br /><br /><br /><br /><br />

			<div class="container h-100">
				<div class="row h-100 align-items-center justify-content-center text-center">
					<div class="col-lg-8 align-self-baseline">
						<h1 class="text-uppercase text-white font-weight-bold">Python</h1>
						<hr class="divider my-4" />
						<p class="text-white-75 font-weight-light mb-5">Projects made with Python.</p>
					</div>
				</div>
			</div>




			<br /><br /><br /><br /><br />
			<div class="row text-center text-lg-left">
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">UnNamed Top Down:</div>
							<div class="project-name text-white-50">In progress Top Down Rogue like.</div>
							<br /><br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>


				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>




			</div>





			<br />
			<div class="container text-center">
				<a class="btn btn-primary btn-xl" href="#page-top">Return To The Top</a>
			</div>

			<br /><br /><br /><br /><br />

		</div>



		<div id="c">
			<br /><br /><br /><br /><br />

			<div class="container h-100">
				<div class="row h-100 align-items-center justify-content-center text-center">
					<div class="col-lg-8 align-self-baseline">
						<h1 class="text-uppercase text-white font-weight-bold">C</h1>
						<hr class="divider my-4" />
						<p class="text-white-75 font-weight-light mb-5">Projects made with the languages based on C.</p>
					</div>
				</div>
			</div>




			<br /><br /><br /><br /><br />
			<div class="row text-center text-lg-left">
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">UnNamed Top Down:</div>
							<div class="project-name text-white-50">In progress Top Down Rogue like.</div>
							<br /><br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>


				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>




			</div>





			<br />
			<div class="container text-center">
				<a class="btn btn-primary btn-xl" href="#page-top">Return To The Top</a>
			</div>

			<br /><br /><br /><br /><br />

		</div>




		<div id="web">
			<br /><br /><br /><br /><br />

			<div class="container h-100">
				<div class="row h-100 align-items-center justify-content-center text-center">
					<div class="col-lg-8 align-self-baseline">
						<h1 class="text-uppercase text-white font-weight-bold">Web Projects</h1>
						<hr class="divider my-4" />
						<p class="text-white-75 font-weight-light mb-5">Projects made specifically for the web.</p>
					</div>
				</div>
			</div>




			<br /><br /><br /><br /><br />
			<div class="row text-center text-lg-left">
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">UnNamed Top Down:</div>
							<div class="project-name text-white-50">In progress Top Down Rogue like.</div>
							<br /><br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>


				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>




			</div>





			<br />
			<div class="container text-center">
				<a class="btn btn-primary btn-xl" href="#page-top">Return To The Top</a>
			</div>

			<br /><br /><br /><br /><br />
		</div>





		<div id="mobile">
			<br /><br /><br /><br /><br />

			<div class="container h-100">
				<div class="row h-100 align-items-center justify-content-center text-center">
					<div class="col-lg-8 align-self-baseline">
						<h1 class="text-uppercase text-white font-weight-bold">Mobile</h1>
						<hr class="divider my-4" />
						<p class="text-white-75 font-weight-light mb-5">Apps and projects made specifically for mobile devices.</p>
					</div>
				</div>
			</div>



			<br /><br /><br /><br /><br />
			<div class="row text-center text-lg-left">
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">UnNamed Top Down:</div>
							<div class="project-name text-white-50">In progress Top Down Rogue like.</div>
							<br /><br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>


				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>




			</div>





			<br />
			<div class="container text-center">
				<a class="btn btn-primary btn-xl" href="#page-top">Return To The Top</a>
			</div>

			<br /><br /><br /><br /><br />

		</div>


		<div id="misc">
			<br /><br /><br /><br /><br />

			<div class="container h-100">
				<div class="row h-100 align-items-center justify-content-center text-center">
					<div class="col-lg-8 align-self-baseline">
						<h1 class="text-uppercase text-white font-weight-bold">Miscellaneous</h1>
						<hr class="divider my-4" />
						<p class="text-white-75 font-weight-light mb-5">Various other things I worked on.</p>
					</div>
				</div>
			</div>




			<br /><br /><br /><br /><br />
			<div class="row text-center text-lg-left">
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">UnNamed Top Down:</div>
							<div class="project-name text-white-50">In progress Top Down Rogue like.</div>
							<br /><br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>


				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6">
					<a class="d-block mb-4 h-100">
						<div class="portfolio-box-caption">
							<div class="project-category text-white">Yet to be announced:</div>
							<div class="project-name text-white-50">More info coming after some site edits.</div>
							<br />
						</div>
						<img class="img-fluid img-thumbnail" src="~/assets/CheckBackSoon.jpg" alt="">
					</a>
				</div>




			</div>




			<br />
			<div class="container text-center">
				<a class="btn btn-primary btn-xl" href="#page-top">Return To The Top</a>
			</div>

			<br /><br /><br /><br /><br />

		</div>


		<!-- Contact-->
		<section class="page-section" id="contact">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 text-center">
						<h2 class=" text-white font-weight-bold">CONTACT</h2>
						<hr class="divider my-4" />
						<p class="text-white-75 font-weight-light mb-5">Ready to start your next project? You can reach me through call, text, or email.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
						<i class="fas fa-phone fa-3x text-white"></i>
						<hr class="divider my-4" />
						<div class="d-block text-light">+1 (513) 378-1546</div>
					</div>
					<div class="col-lg-4 mr-auto text-center">
						<i class="fas fa-envelope fa-3x text-white"></i>
						<hr class="divider my-4" />
						<a class="d-block text-light" href="mailto:TRobbins@GroggyDesign.com"><u>TRobbins@GroggyDesign.com</u></a>
					</div>
				</div>
			</div>
		</section>
	</div>
			<!-- Bootstrap core JS-->
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
			<!-- Third party plugin JS-->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
			<!-- Core theme JS-->
			<script src="~/js/scripts.js"></script>
		
	
</body>
</html>
