:root {
	--color-pure-white: #ffffff;
	--color-pure-black: #000000;
	--color-greenblue: #009879;
	--color-darkgreenblue: #008C71;
	--color-extradarkgreenblue: #1a3631;
	--bar-height: 72px;
	--color-primary: #009879;
	--color-primary-light: #0affd2;
	--color-darkgray: #222222;
	--color-gray: #808080;
	--primary: #f4623a;
	--secondary: #6c757d;
	--dark-visible75: rgba(34, 34, 34, 0.75);
}


body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

.home-bg {
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/HomeBg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.resume-bg {
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/ResumeBg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.about-bg {
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/AboutBg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.projects-bg {
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/ProjectBg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.contact-bg {
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/ContactBg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}







.slideshow-container {
	max-width: 80%;
	position: relative;
	margin: auto;
	/*align-items:center;*/
}


@media (min-width: 992px) {
	.slideshow-container {
		max-width: 60%;
		position: relative;
		margin: auto;
		/*align-items:center;*/
	}
}


.slides {
	display: none;
	max-width: 65%;
	max-height: 40%;
	height: auto;
}

.slides a {
	text-decoration:none;
}



.auto-slides {
	display: none;
	max-width: 65%;
	max-height: 40%;
	height: auto;
}

/*.slides img {
	border: 0.1em solid var(--color-pure-black);
	cursor: pointer;
	border-radius: 0.25em;
}

.slides p {
	display: none;
	max-width: 65%;
	max-height: 40%;
	height: auto;
}*/





.slide-image {
	border: 0.3em solid var(--color-pure-black);
	cursor: pointer;
	border-radius: 0.25em;
	padding: 0.1em;
}





.prev, .next {
	cursor: pointer;
	/*position: absolute;*/
	top: 50%;
	width: auto;
	margin-top:2em;
	margin-left:2em;
	margin-right:2em;
	margin-bottom:2em;
	padding: 16px;
	color: var(--primary);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 5px 5px 0;
	user-select: none;
	
}


.next {
	right: 0;
	border-radius: 2px 0 0 2px;
	
}


.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}


.slide-text {
	/*color: #f2f2f2;*/
	/*color: var(--color-pure-white);*/
	/*color: var(--color-pure-black);*/
	border-bottom: none;
	color: var(--primary);
	font-size: 15px;
	padding: 8px 0 12px 0;
	position: center;
	text-align: center;
	/*bottom: 8px;*/
	width: 100%;
}




.slide-dots {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .slide-dots:hover {
	background-color: var(--primary);
}


.slide-fade {
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-name: fade-in;
	-webkit-animation-duration: 1s;
}

.slide-fade-in-out {
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-name: fade-in-out;
	-webkit-animation-duration: 4.5s;
/*	animation-name: fade-in-out;
	animation-duration: 4.5s;*/
}



@keyframes fade-in {
	0% {
		opacity: .4;
	}

	100% {
		opacity: 1;
		
	}
}


@keyframes fade-in-out {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		
	}
}



@keyframes move-left {
	from {
		transform: translate(0,0);
	}

	to {
		transform: translate(-200%,0);
	}
}


@keyframes move-right {
	from {
		transform: translate(0,0);
	}

	to {
		transform: translate(200%,0);
	}
}




.gallery-row {
	display:flex;
	flex-wrap: wrap;
	padding: 3px 0 0 0;

}

.gallery-column {
	flex:25%;
	max-width:25%;
	padding: 0 3px 0 0;
}


.gallery-column img {
	margin-top: 6px;
	vertical-align: middle;
	width: 100%;
	height:auto;
}



.img-thumbnail-xs {
	padding: 0.1em;
	background-color: #ffff;
	border: 0.1em solid var(--color-pure-black);
	margin: 0.5em;
	margin-bottom: 0.1em !important;
	border-radius: 0.25em;
	max-width: 25%;
	height: auto;
	cursor: pointer;
}

.img-thumbnail-small {
	padding: 0.1em;
	background-color: #ffff;
	border: 0.1em solid var(--color-pure-black);
	margin: 0.5em;
	margin-bottom: 0.1em !important;
	border-radius: 0.25em;
	max-width: 50%;
	height: auto;
	cursor: pointer;
}

.img-thumbnail-medium {
	padding: 0.1em;
	background-color: #ffff;
	border: 0.1em solid var(--color-pure-black);
	margin: 0.5em;
	margin-bottom: 0.1em !important;
	border-radius: 0.25em;
	max-width: 65%;
	height: auto;
	cursor: pointer;
}

.img-thumbnail-large {
	padding: 0.1em;
	background-color: #ffff;
	border: 0.1em solid var(--color-pure-black);
	margin: 0.5em;
	margin-bottom: 0.1em !important;
	border-radius: 0.25em;
	max-width: 75%;
	height: auto;
	cursor: pointer;
}

.img-thumbnail-xl {
	padding: 0.1em;
	background-color: #ffff;
	border: 0.1em solid var(--color-pure-black);
	border-radius: 0.25em;
	max-width: 100%;
	height: auto;
	cursor: pointer;
}



.img-container-large {
	align-content: center !important;
	text-align: center !important;
	justify-content: center !important;
	margin-top: 1em !important;
	padding: 0.1em !important;
	box-sizing: border-box;
	display: flex !important;
	flex: 0 0 45%;
	/*flex:auto;*/
}


.img-description-large {
	padding: 0.1em;
	margin: 0.5em;
	margin-bottom: 0.1em !important;
	border-radius: 0.25em;
	max-width: 75%;
	height: auto;
}





.page-section-dark {
	background-color: var(--color-darkgray) !important;
	padding: 8rem 0;
	border-bottom: 0.1em solid var(--color-pure-black);
}

.page-section-dark-vis75 {
	background-color: var(--dark-visible75) !important;
	padding: 5em 0;
	border-bottom: 0.1em solid var(--color-pure-black);
	border-top: 0.1em solid var(--color-pure-black);
	width:90%;
}

.page-section-transparent {
	background-color: transparent !important;
	padding: 8rem 0;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*	margin-right: 15px;
margin-left: 15px;*/
	margin-right: 1em;
	margin-left: 1em;
}

.column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/*	margin-right: 15px;
margin-left: 15px;*/
	padding-right: 0.25em;
	padding-left: 0.25em;
	/*	margin-right: 1em;
margin-left: 1em;*/
}
/*position: relative;
display: block;*/
.container-small {
	margin-top: 3rem !important;
	margin: auto;
	text-align: center !important;
	box-sizing: border-box;
	flex: 0 0 25%;
}

.container-medium {
	margin-top: 2em !important;
	padding: 2em !important;
	box-sizing: border-box;
	flex: 0 0 35%;
}

.container-large {
	margin-top: 1em !important;
	padding: 1em !important;
	box-sizing: border-box;
	flex: 0 0 45%;
}





.page-center-align {
	align-self: end !important;
	align-content: center !important;
	/*text-align: center;*/
	margin: auto;
	text-align: center !important;
	justify-content: center !important;
	padding-left: 2em;
	padding-right: 2em;
}



.page-left-align {
	align-self: start !important;
	align-content: center !important;
	/*text-align: center;*/
	margin: auto;
	text-align: center !important;
	justify-content: left !important;
	padding-left: 0.5em;
	padding-right: 2em;
}




.page-right-align {
	align-self: start !important;
	align-content: center !important;
	/*text-align: center;*/
	margin: auto;
	text-align: center !important;
	justify-content: right !important;
	padding-left: 2em;
	padding-right: 0.5em;
}

header.masthead {
	height: 30em;
	display: flex;
	align-items: center;
	padding-top: var(--bar-height);
	box-sizing: border-box;
	/*border-bottom: 0.1em solid var(--color-pure-black);*/
}

.header h1 {
	font-size: 2.25rem;
	font-family: "Merriweather Sans",sans-serif;
	color: white;
	text-align: center;
	top: 0;
}

.uppercase {
	text-transform: uppercase !important;
}


header.masthead h1 {
	font-size: 2.25rem;
}

@media (min-width: 992px) {
	header .masthead {
	height: 25em;
	min-height: 40rem;
	padding-top: 4.5rem;
	padding-bottom: 0;
}

header.masthead p {
	font-size: 1.15rem;
}

header.masthead h1 {
	font-size: 3rem;
}
.container-small {
	margin-top: 3em !important;
	padding: 3em !important;
	box-sizing: border-box;
	flex: 0 0 25%;
	max-width: 50%;
}
.container-medium {
	margin-top: 2em !important;
	padding: 2em !important;
	box-sizing: border-box;
	flex: 0 0 35%;
	max-width: 60%;
}



}

@media (min-width: 1200px) {
	header.masthead h1 {
		font-size: 3.5rem;
	}
	.container-small {
		margin-top: 3rem !important;
		padding: 3rem !important;
		box-sizing: border-box;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.container-medium {
		margin-top: 2em !important;
		padding: 2em !important;
		box-sizing: border-box;
		flex: 0 0 35%;
		max-width: 35%;
	}
}



.u-centered {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding: 16px;
	box-sizing: border-box;
}

.options {
	margin: 10px;
	flex-direction: column;
}

.call-to-action {
	max-width: 300px;
	height: 33%;
	padding: 32px;
	box-sizing: border-box;
	color: var(--color-pure-white);
	background: rgba(0,0,0,0.95);
	border-radius: 16px;
	margin: 10px;
}

.call-to-action__title {
	margin-top: 0;
}

.call-to-action__description {
	font-weight: 500;
	font-size: 1.1em;
}

.call-to-action__button {
	background: var(--color-pure-white);
	outline: none;
	font: bold 1.1em 'Quicksand', sans-serif;
	color: orangered;
	border: 1px solid var(--color-pure-white);
	border-radius: 4px;
	padding: 10px 16px;
	cursor: pointer;
	transition: background 0.15s, color 0.15s;
}

.call-to-action__button:hover:not(:active) {
	background: transparent;
	color: var(--color-pure-white);
}

.navbar {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--bar-height);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background: rgba(0,0,0,0.8);
	transition: top 0.5s ease-in-out, opacity 0.25s ease-in-out;
}
.navbar--bg {
	background: var(--color-primary);
}

.navbar--close {
	top: -200px;
	opacity: 0;
}

.navbar--shrink {
	top: -40px;
	font-size: 8px !important;
}


.text__container {
	display: inline;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 20px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

.text__container-description {
	-webkit-text-stroke-width: 0px;
	-webkit-text-stroke-color: black;
}


.page__button {
	text-align: center;
	margin: auto;
	height: 100%;
	width: 40%;
	background-color: black;
	font-size: 20px;
	border-radius: 16px;
	-webkit-text-fill-color: white;
	align-content: center;
}


.page__button:hover:not(:active) {
	opacity: 0.8;
	cursor: pointer;
}


.general-button {

}

.general-button:hover:not(:active) {
	opacity: 0.6 !important;
	cursor: pointer;
}



.divider {
	color: orangered;
	background-color: orangered;
	width: 60px;
	border: 5px solid;
	border-radius: 20px;
	max-width: 3.25rem;
	border-width: 0.2rem;
	border-color:var(--primary);
	text-align:center;
}


.navbar__content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar__logo {
	height: 100%;
	color: var(--color-pure-white);
	border: none !important;
}

.navbar__logo a:hover:not(:active) {
	color: orangered;
}


.navbar__name-full {
	display: none;
	color: var(--color-pure-white);
	justify-content: left;
	text-decoration: none;
	font-family: 'Agency FB',sans-serif;
	font-size: 40px;
	border: none !important;
}

.navbar__name-mobile {
	color: var(--color-pure-white);
	justify-content: left;
	text-decoration: none;
	color: var(--color-pure-white);
	font-family: 'Agency FB',sans-serif;
	font-size: 40px;
	border: none !important;
}


.navbar__toggle {
	cursor: pointer;
	border: none !important;
}

.navbar__toggle > i {
	color: var(--color-pure-white);
	font-size: 2em;
}

#currentLink {
	color: orangered;
}


#inpNavToggle {
	display: none;
}

#inpNavToggle:checked ~ .nav {
	display: flex;
}

.nav {
	display: none;
	flex-direction: column;
	position: fixed;
	top: var(--bar-height);
	left: 0;
	width: 100%;
	/*height: calc(50vh - var(--bar-height));*/
	padding: 32px;
	background: var(--color-darkgray);
	box-sizing: border-box;
	border-radius: 10px;
	border-top-left-radius:0 !important;
	border-top-right-radius:0 !important;
}

.nav__link {
	font-weight: 500;
	padding: 16px 0;
	text-decoration: none;
	color: var(--color-pure-white);
	border-bottom: 1px solid rgba(255,255,255,0.1);

}

.nav_icon {
	font-weight: 500;
	padding: 16px 0;
	text-decoration: none;
	color: var(--color-pure-white);
	border:none !important;
}




.nav_icon:hover:not(:active) {
	opacity: 0.5;
	color: orangered;
}



.nav__link:hover:not(:active) {
	opacity: 0.5;
}




.footer {
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: var(--bar-height);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.footer--bg {
	background: var(--color-primary);
}

.footer--close {
	bottom: -200px;
	opacity: 0;
}



.footer__content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__logo {
	height: 100%;
	color: var(--color-pure-white);
}

.footer__logo a:hover:not(:active) {
	color: var(--color-pure-white);
}


.footer__name-full {
	display: none;
	color: var(--color-pure-white);
	justify-content: left;
	text-decoration: none;
	font-family: 'Agency FB',sans-serif;
	font-size: 20px;
}

.footer__name-mobile {
	color: var(--color-pure-white);
	justify-content: left;
	text-decoration: none;
	color: var(--color-gray);
	font-family: 'Agency FB',sans-serif;
	font-size: 20px;
	border: none !important;
}


.footer__toggle {
	cursor: pointer;
}

.footer__toggle > i {
	color: var(--color-pure-white);
	font-size: 2em;
}





.content-full {
	display: none;
}

.content-mobile {
	display: initial;
}







@media screen and (min-width: 767px) {
	/* for screens above the min-width size(767px) */


	.navbar__toggle {
		display: none;
		border: none !important;
	}

	.nav {
		display: flex;
		flex-direction:row;
		position: static;
		width: unset;
		height: unset;
		padding: unset;
		background: transparent;
	}

	.nav__link {
		border: none !important;
	}

	.nav__link {
		margin-right: 24px;
		border: none !important;
	}

	.navbar__name-full {
		display: inline;
		color: var(--color-pure-white);
		justify-content: left;
		text-decoration: none;
		color: var(--color-pure-white);
		font-family: 'Agency FB',sans-serif;
		font-size: 40px;
		border: none !important;
	}




	.navbar__name-mobile {
		display: none;
		color: var(--color-pure-white);
		justify-content: left;
		text-decoration: none;
		color: var(--color-pure-white);
		font-family: 'Agency FB',sans-serif;
		border: none !important;
	}

	.footer__name-full {
		display: inline;
		color: var(--color-pure-white);
		justify-content: left;
		text-decoration: none;
		font-family: 'Agency FB',sans-serif;
		font-size: 20px;
	}

	.footer__name-mobile {
		display: none;
		justify-content: left;
		text-decoration: none;
		color: var(--color-pure-white);
		font-family: 'Agency FB',sans-serif;
		font-size: 20px;
	}

	.content-full {
		display: inline;
	}

	.content-mobile {
		height: unset
	}

	.page__button {
		text-align: center;
		margin: auto;
		height: 100%;
		width: 10%;
		background-color: black;
		font-size: 20px;
		border-radius: 16px;
		-webkit-text-fill-color: white;
		align-content: center;
	}
}






























